
$boxes: 50;

body{
  background-color: black;
}

#root{
  width: 500px;
  height: 500px;
  position: relative;
  margin: auto;
}

div.star{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  //-webkit-filter: blur(1px);
  position: absolute;
}

@for $i from 1 through $boxes {
  @keyframes anim-#{$i} {
    0% {
      top: 50%;
      left: 50%;
    }
    100%{
      top: random(500)+px;
      left: random(500)+px;
    }
  }
      
    div.box{
      &:nth-child(#{$i}){
        left: $i * 10px;
        animation-duration: 2.6s;
        animation-name: anim-#{$i};
        animation-fill-mode: forwards;
        animation-timing-function: ease;
        background: hsla(10 * $i, 100%, 50%, 1);
      }
    }
}