$animation-medium-duration: 700ms;
$animation-short-duration: 200ms;

.div-user-menu,
.div-guest-menu,
.div-login-menu {
	position:absolute;
	right:10px;
	top:10px;
}
.div-user-menu-enter,
.div-guest-menu-enter,
.div-login-menu-enter {
	position:absolute;
	right:10px;
  	top:-100px;
}
.div-user-menu-enter.div-user-menu-enter-active,
.div-guest-menu-enter.div-guest-menu-enter-active,
.div-login-menu-enter.div-login-menu-enter-active {
	position:absolute;
	right:10px;
	top:10px;
  	transition: $animation-medium-duration;
}
.div-user-menu-leave,
.div-guest-menu-leave,
.div-login-menu-leave {
	position:absolute;
	right:10px;
	top:10px;
}
.div-user-menu-leave.div-user-menu-leave-active,
.div-guest-menu-leave.div-guest-menu-leave-active,
.div-login-menu-leave.div-login-menu-leave-active {
	position:absolute;
	right:10px;
  	top:-100px;
  	transition: $animation-medium-duration;
}

.div-modal-a {
	opacity:1;
}
.div-modal-a-enter {
	opacity:0.1;
}
.div-modal-a-enter.div-modal-a-enter-active {
	opacity:1;
  	transition: $animation-short-duration;
}
.div-modal-a-leave {
	opacity:1;
}
.div-modal-a-leave.div-modal-a-leave-active {
	opacity:0.1;
  	transition: $animation-short-duration;
}